{% extends 'portal/layout/base.html' %}
{% load static %}

{% block content %}     
<div class="content-wrapper">
    <!-- Content: Start -->
    <div class="container-xxl flex-grow-1 container-p-y">
       <!-- Transactions Toast -->
       <!--/ Transactions Toast -->
       <!-- Transactions Table -->
       <!-- permission required: view_transaction -->
       <div class="row g-4 mb-4">
          <div class="col-sm-6 col-xl-3">
             <div class="card">
                <div class="card-body">
                   <div class="d-flex align-items-start justify-content-between">
                      <div class="content-left">
                         <div class="d-flex align-items-end">
                            <h3 class="mb-0 me-2">6</h3>
                            <small class="text-primary"></small>
                         </div>
                         <small>Total Transactions</small>
                      </div>
                      <span class="badge bg-label-primary rounded p-2">
                      <i class="ti ti-arrows-transfer-down ti-sm"></i>
                      </span>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-sm-6 col-xl-3">
             <div class="card">
                <div class="card-body">
                   <div class="d-flex align-items-start justify-content-between">
                      <div class="content-left">
                         <div class="d-flex align-items-end">
                            <h3 class="mb-0 me-2">$ 500.0</h3>
                            <small class="text-primary"></small>
                         </div>
                         <small>Total Paid</small>
                      </div>
                      <span class="badge bg-label-success rounded p-2">
                      <i class="ti ti-check ti-sm"></i>
                      </span>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-sm-6 col-xl-3">
             <div class="card">
                <div class="card-body">
                   <div class="d-flex align-items-start justify-content-between">
                      <div class="content-left">
                         <div class="d-flex align-items-end">
                            <h3 class="mb-0 me-2">$ 700.0</h3>
                            <small class="text-primary"></small>
                         </div>
                         <small>Total Due</small>
                      </div>
                      <span class="badge bg-label-warning rounded p-2">
                      <i class="ti ti-clock-down ti-sm"></i>
                      </span>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-sm-6 col-xl-3">
             <div class="card">
                <div class="card-body">
                   <div class="d-flex align-items-start justify-content-between">
                      <div class="content-left">
                         <div class="d-flex align-items-end">
                            <h3 class="mb-0 me-2">$ 900.0</h3>
                            <small class="text-primary"></small>
                         </div>
                         <small>Total Canceled</small>
                      </div>
                      <span class="badge bg-label-danger rounded p-2">
                      <i class="ti ti-x ti-sm"></i>
                      </span>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="card">
          <div class="card-datatable table-responsive">
             <table class="datatables-transaction table">
                <thead class="border-top">
                    <tr>
                        <th>S.No</th>
                        <th>Campaign Name</th>
                        <th>Ad Set Name</th>
                        <th>Ad Name</th>
                        <th>Objective</th>
                        <th>Impressions</th>
                        <th>Clicks</th>
                        <th>Spend</th>
                        <th>CPM</th>
                        <th>CTR</th>
                        <th>CPC</th>
                    </tr>
                </thead>
                <tbody>
                   {% include 'portal/campaigns/data_list.html' %}
                </tbody>
             </table>
          </div>
       </div>
       <!--/ Transactions Table -->
       <script>
          var addTransactionBtn = '' + true + '';
          
       </script>
    </div>
    <!-- / Content: End -->
    {% include 'portal/layout/footer.html' %}
    <div class="content-backdrop fade"></div>
 </div>
 {% endblock content %}