.login-img {
    position: relative;
    background-image: url(../images_ex/bg-examwinner.png) !important;
}
.side-header .header-brand1 {
    text-align: left !important;
    margin: 0 0px !important;
}
.login-img::before {

    background: linear-gradient(to right, #ec202800 0%, #ec202800 100%) !important;

}
/* .header-brand-img { */
    /* width: 45px !important; */
/* } */
.dark-mode .side-header .header-brand-img.desktop-logo {
	    width: 145px;
}
img.header-brand-img1 {
    width: 155px;
}
.img-td{
	width: 40px;
    height: 40px;
    /* border-radius: 50% !important; */
    object-fit: cover;
}
.img-50{
	width: 50px;
}
.profile-center {
    text-align: center;
}
.table-responsive .table td {
    vertical-align: middle;
}
.table th, .text-wrap table th{
 font-size: 0.8rem !important;
}
.mt-30{
	margin-top: 20px;
}
.float-right{
	float:right;
}
.visitor-list i {
    font-size: 18px;
    width: 35px;
    height: 35px;
    background-color: #cccccc7d;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    margin-right: 20px;
	margin-bottom: 10px;
}
.face-clr{
	color: #2318d3;
}
.insta-clr{
    color: #a80d84;	
}
.twit-clr{
	    color: #006fa8;
}
.link-clr{
	color: #3500c8;
}
.y-clr{
color: #cc0606;
}
.side-header .header-brand-img.toggle-logo, .side-header .header-brand-img.light-logo{
	height: 2.5rem !important;
}
.avatar {
    background: rgb(9 21 64 / 0%) no-repeat center/cover !important;
}
@media (max-width: 576px){
.page-header {
    display: flex !important;
}
}

@media (max-width: 576px){
.header-brand-img {
    margin: 3px 60px !important;
}
.header .dropdown-menu{
	top: 0.5rem !important;
}
}

@media (max-width: 769px){
.dark-mode .app-header.header .header-brand-img.desktop-logo {
    display: block;
    width: 125px;
}
}



.pagination_section {
    font-family: Arial, sans-serif;
    margin: 20px auto;
    text-align: center;
}
.pagination {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.pagination .page-item {
    margin: 0 5px;
}
.pagination .page-link {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.2s;
}
.pagination .page-link:hover {
    background-color: #f0f0f0;
}
.pagination .page-item.disabled .page-link {
    color: #ccc;
    pointer-events: none;
    background-color: #f9f9f9;
}
.pagination .page-item.active .page-link {
    color: #fff;
    background-color: var(--primary-bg-color) !important;
    border-color: var(--primary-bg-color) !important;
}