{% load static %}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <!-- ! Hide app brand if navbar-full -->
    <div class="app-brand demo">
       <a href="/" class="app-brand-link">
          <span class="app-brand-logo demo">
             <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.00172773 0V6.85398C0.00172773 6.85398 -0.133178 9.01207 1.98092 10.8388L13.6912 21.9964L19.7809 21.9181L18.8042 9.88248L16.4951 7.17289L9.23799 0H0.00172773Z" fill="#7367F0" />
                <path opacity="0.06" fill-rule="evenodd" clip-rule="evenodd" d="M7.69824 16.4364L12.5199 3.23696L16.5541 7.25596L7.69824 16.4364Z" fill="#161616" />
                <path opacity="0.06" fill-rule="evenodd" clip-rule="evenodd" d="M8.07751 15.9175L13.9419 4.63989L16.5849 7.28475L8.07751 15.9175Z" fill="#161616" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.77295 16.3566L23.6563 0H32V6.88383C32 6.88383 31.8262 9.17836 30.6591 10.4057L19.7824 22H13.6938L7.77295 16.3566Z" fill="#7367F0" />
             </svg>
          </span>
          <span class="app-brand-text demo menu-text fw-bold">Vuexy</span>
       </a>
       <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
       <i class="ti menu-toggle-icon d-none d-xl-block align-middle"></i>
       <i class="ti ti-x d-block d-xl-none ti-md align-middle"></i>
       </a>
    </div>
    <div class="menu-inner-shadow"></div>
    <ul class="menu-inner py-1">
        <li class="menu-item active">
            <a href="/transactions/list/" class="menu-link" >
               <i class="menu-icon tf-icons ti ti-database"></i>
               <div>Dashboard</div>
            </a>
        </li>
       <li class="menu-item ">
          <a href="/transactions/list/" class="menu-link" >
             <i class="menu-icon tf-icons ti ti-database"></i>
             <div>Transactions (CRUD)</div>
          </a>
       </li>
       <li class="menu-header small text-uppercase">
          <span class="menu-header-text">Apps &amp; Pages</span>
       </li>
       <li class="menu-item ">
          <a href="/app/email/" class="menu-link" >
             <i class="menu-icon tf-icons ti ti-mail"></i>
             <div>Email</div>
          </a>
       </li>
       <li class="menu-item ">
          <a href="/app/chat/" class="menu-link" >
             <i class="menu-icon tf-icons ti ti-messages"></i>
             <div>Chat</div>
          </a>
       </li>
       <li class="menu-item ">
          <a href="/app/calendar/" class="menu-link" >
             <i class="menu-icon tf-icons ti ti-calendar"></i>
             <div>Calendar</div>
          </a>
       </li>
       <li class="menu-item ">
          <a href="/app/kanban/" class="menu-link" >
             <i class="menu-icon tf-icons ti ti-layout-kanban"></i>
             <div>Kanban</div>
          </a>
       </li>
       <li class="menu-item ">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
             <i class="menu-icon tf-icons ti ti-shopping-cart"></i>
             <div>eCommerce</div>
          </a>
          <ul class="menu-sub">
             <li class="menu-item ">
                <a href="/app/ecommerce/dashboard/" class="menu-link" >
                   <i class=""></i>
                   <div>Dashboard</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                   <i class=""></i>
                   <div>Products</div>
                </a>
                <ul class="menu-sub">
                   <li class="menu-item ">
                      <a href="/app/ecommerce/product/list/" class="menu-link" >
                         <i class=""></i>
                         <div>Product List</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/app/ecommerce/product/add/" class="menu-link" >
                         <i class=""></i>
                         <div>Add Product</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/app/ecommerce/product/category/" class="menu-link" >
                         <i class=""></i>
                         <div>Category List</div>
                      </a>
                   </li>
                </ul>
             </li>
             <li class="menu-item ">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                   <i class=""></i>
                   <div>Order</div>
                </a>
                <ul class="menu-sub">
                   <li class="menu-item ">
                      <a href="/app/ecommerce/order/list/" class="menu-link" >
                         <i class=""></i>
                         <div>Order List</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/app/ecommerce/order/details/" class="menu-link" >
                         <i class=""></i>
                         <div>Order Details</div>
                      </a>
                   </li>
                </ul>
             </li>
             <li class="menu-item ">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                   <i class=""></i>
                   <div>Customer</div>
                </a>
                <ul class="menu-sub">
                   <li class="menu-item ">
                      <a href="/app/ecommerce/customer_all/" class="menu-link" >
                         <i class=""></i>
                         <div>All Customers</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="javascript:void(0);" class="menu-link menu-toggle">
                         <i class=""></i>
                         <div>Customer Details</div>
                      </a>
                      <ul class="menu-sub">
                         <li class="menu-item ">
                            <a href="/app/ecommerce/customer/details/overview/" class="menu-link" >
                               <i class=""></i>
                               <div>Overview</div>
                            </a>
                         </li>
                         <li class="menu-item ">
                            <a href="/app/ecommerce/customer/details/security/" class="menu-link" >
                               <i class=""></i>
                               <div>Security</div>
                            </a>
                         </li>
                         <li class="menu-item ">
                            <a href="/app/ecommerce/customer/details/billing/" class="menu-link" >
                               <i class=""></i>
                               <div>Address &amp; Billing</div>
                            </a>
                         </li>
                         <li class="menu-item ">
                            <a href="/app/ecommerce/customer/details/notifications/" class="menu-link" >
                               <i class=""></i>
                               <div>Notifications</div>
                            </a>
                         </li>
                      </ul>
                   </li>
                </ul>
             </li>
             <li class="menu-item ">
                <a href="/app/ecommerce/manage_reviews/" class="menu-link" >
                   <i class=""></i>
                   <div>Manage Reviews</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/app/ecommerce/referrals/" class="menu-link" >
                   <i class=""></i>
                   <div>Referrals</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                   <i class=""></i>
                   <div>Settings</div>
                </a>
                <ul class="menu-sub">
                   <li class="menu-item ">
                      <a href="/app/ecommerce/settings/details/" class="menu-link" >
                         <i class=""></i>
                         <div>Store details</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/app/ecommerce/settings/payments/" class="menu-link" >
                         <i class=""></i>
                         <div>Payments</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/app/ecommerce/settings/checkout/" class="menu-link" >
                         <i class=""></i>
                         <div>Checkout</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/app/ecommerce/settings/shipping/" class="menu-link" >
                         <i class=""></i>
                         <div>Shipping &amp; Delivery</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/app/ecommerce/settings/locations/" class="menu-link" >
                         <i class=""></i>
                         <div>Locations</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/app/ecommerce/settings/notifications/" class="menu-link" >
                         <i class=""></i>
                         <div>Notifications</div>
                      </a>
                   </li>
                </ul>
             </li>
          </ul>
       </li>
       <li class="menu-item ">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
             <i class="menu-icon tf-icons ti ti-book"></i>
             <div>Academy</div>
          </a>
          <ul class="menu-sub">
             <li class="menu-item ">
                <a href="/app/academy/dashboard/" class="menu-link" >
                   <i class=""></i>
                   <div>Dashboard</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/app/academy/course/" class="menu-link" >
                   <i class=""></i>
                   <div>My Course</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/app/academy/course_details/" class="menu-link" >
                   <i class=""></i>
                   <div>Course Details</div>
                </a>
             </li>
          </ul>
       </li>
       <li class="menu-item ">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
             <i class="menu-icon tf-icons ti ti-truck"></i>
             <div>Logistics</div>
          </a>
          <ul class="menu-sub">
             <li class="menu-item ">
                <a href="/app/logistics/dashboard/" class="menu-link" >
                   <i class=""></i>
                   <div>Dashboard</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/app/logistics/fleet/" class="menu-link" >
                   <i class=""></i>
                   <div>Fleet</div>
                </a>
             </li>
          </ul>
       </li>
       <li class="menu-item ">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
             <i class="menu-icon tf-icons ti ti-file-dollar"></i>
             <div>Invoice</div>
          </a>
          <ul class="menu-sub">
             <li class="menu-item ">
                <a href="/app/invoice/list/" class="menu-link" >
                   <i class=""></i>
                   <div>List</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/app/invoice/preview/" class="menu-link" >
                   <i class=""></i>
                   <div>Preview</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/app/invoice/edit/" class="menu-link" >
                   <i class=""></i>
                   <div>Edit</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/app/invoice/add/" class="menu-link" >
                   <i class=""></i>
                   <div>Add</div>
                </a>
             </li>
          </ul>
       </li>
       <li class="menu-item ">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
             <i class="menu-icon tf-icons ti ti-users"></i>
             <div>Users</div>
          </a>
          <ul class="menu-sub">
             <li class="menu-item ">
                <a href="/app/user/list/" class="menu-link" >
                   <i class=""></i>
                   <div>List</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                   <i class=""></i>
                   <div>View</div>
                </a>
                <ul class="menu-sub">
                   <li class="menu-item ">
                      <a href="/app/user/view/account/" class="menu-link" >
                         <i class=""></i>
                         <div>Account</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/app/user/view/security/" class="menu-link" >
                         <i class=""></i>
                         <div>Security</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/app/user/view/billing/" class="menu-link" >
                         <i class=""></i>
                         <div>Billing &amp; Plans</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/app/user/view/notifications/" class="menu-link" >
                         <i class=""></i>
                         <div>Notifications</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/app/user/view/connections/" class="menu-link" >
                         <i class=""></i>
                         <div>Connections</div>
                      </a>
                   </li>
                </ul>
             </li>
          </ul>
       </li>
       <li class="menu-item ">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
             <i class="menu-icon tf-icons ti ti-settings"></i>
             <div>Roles &amp; Permissions</div>
          </a>
          <ul class="menu-sub">
             <li class="menu-item ">
                <a href="/app/access/roles/" class="menu-link" >
                   <i class=""></i>
                   <div>Roles</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/app/access/permission/" class="menu-link" >
                   <i class=""></i>
                   <div>Permission</div>
                </a>
             </li>
          </ul>
       </li>
       <li class="menu-item ">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
             <i class="menu-icon tf-icons ti ti-file"></i>
             <div>Pages</div>
          </a>
          <ul class="menu-sub">
             <li class="menu-item ">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                   <i class=""></i>
                   <div>User Profile</div>
                </a>
                <ul class="menu-sub">
                   <li class="menu-item ">
                      <a href="/pages/profile/user/" class="menu-link" >
                         <i class=""></i>
                         <div>Profile</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/pages/profile/teams/" class="menu-link" >
                         <i class=""></i>
                         <div>Teams</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/pages/profile/projects/" class="menu-link" >
                         <i class=""></i>
                         <div>Projects</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/pages/profile/connections/" class="menu-link" >
                         <i class=""></i>
                         <div>Connections</div>
                      </a>
                   </li>
                </ul>
             </li>
             <li class="menu-item ">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                   <i class=""></i>
                   <div>Account Settings</div>
                </a>
                <ul class="menu-sub">
                   <li class="menu-item ">
                      <a href="/pages/account_settings/account/" class="menu-link" >
                         <i class=""></i>
                         <div>Account</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/pages/account_settings/security/" class="menu-link" >
                         <i class=""></i>
                         <div>Security</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/pages/account_settings/billing/" class="menu-link" >
                         <i class=""></i>
                         <div>Billing &amp; Plans</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/pages/account_settings/notifications/" class="menu-link" >
                         <i class=""></i>
                         <div>Notifications</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/pages/account_settings/connections/" class="menu-link" >
                         <i class=""></i>
                         <div>Connections</div>
                      </a>
                   </li>
                </ul>
             </li>
             <li class="menu-item ">
                <a href="/pages/faq/" class="menu-link" >
                   <i class=""></i>
                   <div>FAQ</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/pages/pricing/" class="menu-link" >
                   <i class=""></i>
                   <div>Pricing</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                   <i class=""></i>
                   <div>Misc</div>
                </a>
                <ul class="menu-sub">
                   <li class="menu-item ">
                      <a href="/pages/misc/error/" class="menu-link" target="_blank" >
                         <i class=""></i>
                         <div>Error</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/pages/misc/under_maintenance/" class="menu-link" target="_blank" >
                         <i class=""></i>
                         <div>Under Maintenance</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/pages/misc/comingsoon/" class="menu-link" target="_blank" >
                         <i class=""></i>
                         <div>Coming Soon</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/pages/misc/not_authorized/" class="menu-link" target="_blank" >
                         <i class=""></i>
                         <div>Not Authorized</div>
                      </a>
                   </li>
                </ul>
             </li>
          </ul>
       </li>
       <li class="menu-item ">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
             <i class="menu-icon tf-icons ti ti-lock"></i>
             <div>Authentications</div>
          </a>
          <ul class="menu-sub">
             <li class="menu-item ">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                   <i class=""></i>
                   <div>Login</div>
                </a>
                <ul class="menu-sub">
                   <li class="menu-item ">
                      <a href="/auth/login/basic/" class="menu-link" target="_blank" >
                         <i class=""></i>
                         <div>Basic</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/auth/login/cover/" class="menu-link" target="_blank" >
                         <i class=""></i>
                         <div>Cover</div>
                      </a>
                   </li>
                </ul>
             </li>
             <li class="menu-item ">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                   <i class=""></i>
                   <div>Register</div>
                </a>
                <ul class="menu-sub">
                   <li class="menu-item ">
                      <a href="/auth/register/basic/" class="menu-link" target="_blank" >
                         <i class=""></i>
                         <div>Basic</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/auth/register/cover/" class="menu-link" target="_blank" >
                         <i class=""></i>
                         <div>Cover</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/auth/register/multisteps/" class="menu-link" target="_blank" >
                         <i class=""></i>
                         <div>Multi-steps</div>
                      </a>
                   </li>
                </ul>
             </li>
             <li class="menu-item ">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                   <i class=""></i>
                   <div>Verify Email</div>
                </a>
                <ul class="menu-sub">
                   <li class="menu-item ">
                      <a href="/auth/verify_email/basic/" class="menu-link" target="_blank" >
                         <i class=""></i>
                         <div>Basic</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/auth/verify_email/cover/" class="menu-link" target="_blank" >
                         <i class=""></i>
                         <div>Cover</div>
                      </a>
                   </li>
                </ul>
             </li>
             <li class="menu-item ">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                   <i class=""></i>
                   <div>Reset Password</div>
                </a>
                <ul class="menu-sub">
                   <li class="menu-item ">
                      <a href="/auth/reset_password/basic/" class="menu-link" target="_blank" >
                         <i class=""></i>
                         <div>Basic</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/auth/reset_password/cover/" class="menu-link" target="_blank" >
                         <i class=""></i>
                         <div>Cover</div>
                      </a>
                   </li>
                </ul>
             </li>
             <li class="menu-item ">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                   <i class=""></i>
                   <div>Forgot Password</div>
                </a>
                <ul class="menu-sub">
                   <li class="menu-item ">
                      <a href="/auth/forgot_password/basic/" class="menu-link" target="_blank" >
                         <i class=""></i>
                         <div>Basic</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/auth/forgot_password/cover/" class="menu-link" target="_blank" >
                         <i class=""></i>
                         <div>Cover</div>
                      </a>
                   </li>
                </ul>
             </li>
             <li class="menu-item ">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                   <i class=""></i>
                   <div>Two Steps</div>
                </a>
                <ul class="menu-sub">
                   <li class="menu-item ">
                      <a href="/auth/two_steps/basic/" class="menu-link" target="_blank" >
                         <i class=""></i>
                         <div>Basic</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/auth/two_steps/cover/" class="menu-link" target="_blank" >
                         <i class=""></i>
                         <div>Cover</div>
                      </a>
                   </li>
                </ul>
             </li>
          </ul>
       </li>
       <li class="menu-item ">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
             <i class="menu-icon tf-icons ti ti-forms"></i>
             <div>Wizard Examples</div>
          </a>
          <ul class="menu-sub">
             <li class="menu-item ">
                <a href="/wizard_ex/checkout/" class="menu-link" >
                   <i class=""></i>
                   <div>Checkout</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/wizard_ex/property_listing/" class="menu-link" >
                   <i class=""></i>
                   <div>Property Listing</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/wizard_ex/create_deal/" class="menu-link" >
                   <i class=""></i>
                   <div>Create Deal</div>
                </a>
             </li>
          </ul>
       </li>
       <li class="menu-item ">
          <a href="/modal_examples/" class="menu-link" >
             <i class="menu-icon tf-icons ti ti-square"></i>
             <div>Modal Examples</div>
          </a>
       </li>
       <li class="menu-header small text-uppercase">
          <span class="menu-header-text">Components</span>
       </li>
       <li class="menu-item ">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
             <i class="menu-icon tf-icons ti ti-id"></i>
             <div>Cards</div>
             <div class="badge bg-primary rounded-pill ms-auto">5</div>
          </a>
          <ul class="menu-sub">
             <li class="menu-item ">
                <a href="/cards/basic/" class="menu-link" >
                   <i class=""></i>
                   <div>Basic</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/cards/advance/" class="menu-link" >
                   <i class=""></i>
                   <div>Advance</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/cards/statistics/" class="menu-link" >
                   <i class=""></i>
                   <div>Statistics</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/cards/analytics/" class="menu-link" >
                   <i class=""></i>
                   <div>Analytics</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/cards/actions/" class="menu-link" >
                   <i class=""></i>
                   <div>Actions</div>
                </a>
             </li>
          </ul>
       </li>
       <li class="menu-item ">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
             <i class="menu-icon tf-icons ti ti-color-swatch"></i>
             <div>User interface</div>
          </a>
          <ul class="menu-sub">
             <li class="menu-item ">
                <a href="/ui/accordion/" class="menu-link" >
                   <i class=""></i>
                   <div>Accordion</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/ui/alerts/" class="menu-link" >
                   <i class=""></i>
                   <div>Alerts</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/ui/badges/" class="menu-link" >
                   <i class=""></i>
                   <div>Badges</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/ui/buttons/" class="menu-link" >
                   <i class=""></i>
                   <div>Buttons</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/ui/carousel/" class="menu-link" >
                   <i class=""></i>
                   <div>Carousel</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/ui/collapse/" class="menu-link" >
                   <i class=""></i>
                   <div>Collapse</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/ui/dropdowns/" class="menu-link" >
                   <i class=""></i>
                   <div>Dropdowns</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/ui/footer/" class="menu-link" >
                   <i class=""></i>
                   <div>Footer</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/ui/list_groups/" class="menu-link" >
                   <i class=""></i>
                   <div>List Groups</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/ui/modals/" class="menu-link" >
                   <i class=""></i>
                   <div>Modals</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/ui/navbar/" class="menu-link" >
                   <i class=""></i>
                   <div>Navbar</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/ui/offcanvas/" class="menu-link" >
                   <i class=""></i>
                   <div>Offcanvas</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/ui/pagination_breadcrumbs/" class="menu-link" >
                   <i class=""></i>
                   <div>Pagination &amp; Breadcrumbs</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/ui/progress/" class="menu-link" >
                   <i class=""></i>
                   <div>Progress</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/ui/spinners/" class="menu-link" >
                   <i class=""></i>
                   <div>Spinners</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/ui/tabs_pills/" class="menu-link" >
                   <i class=""></i>
                   <div>Tabs &amp; Pills</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/ui/toasts/" class="menu-link" >
                   <i class=""></i>
                   <div>Toasts</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/ui/tooltips_popovers/" class="menu-link" >
                   <i class=""></i>
                   <div>Tooltips &amp; Popovers</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/ui/typography/" class="menu-link" >
                   <i class=""></i>
                   <div>Typography</div>
                </a>
             </li>
          </ul>
       </li>
       <li class="menu-item ">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
             <i class="menu-icon tf-icons ti ti-components"></i>
             <div>Extended UI</div>
          </a>
          <ul class="menu-sub">
             <li class="menu-item ">
                <a href="/extended_ui/avatar/" class="menu-link" >
                   <i class=""></i>
                   <div>Avatar</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/extended_ui/blockui/" class="menu-link" >
                   <i class=""></i>
                   <div>BlockUI</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/extended_ui/drag_and_drop/" class="menu-link" >
                   <i class=""></i>
                   <div>Drag &amp; Drop</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/extended_ui/media_player/" class="menu-link" >
                   <i class=""></i>
                   <div>Media Player</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/extended_ui/perfect_scrollbar/" class="menu-link" >
                   <i class=""></i>
                   <div>Perfect Scrollbar</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/extended_ui/star_ratings/" class="menu-link" >
                   <i class=""></i>
                   <div>Star Ratings</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/extended_ui/sweetalert2/" class="menu-link" >
                   <i class=""></i>
                   <div>SweetAlert2</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/extended_ui/text_divider/" class="menu-link" >
                   <i class=""></i>
                   <div>Text Divider</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                   <i class=""></i>
                   <div>Timeline</div>
                </a>
                <ul class="menu-sub">
                   <li class="menu-item ">
                      <a href="/extended_ui/timeline_basic/" class="menu-link" >
                         <i class=""></i>
                         <div>Basic</div>
                      </a>
                   </li>
                   <li class="menu-item ">
                      <a href="/extended_ui/timeline_fullscreen/" class="menu-link" >
                         <i class=""></i>
                         <div>Fullscreen</div>
                      </a>
                   </li>
                </ul>
             </li>
             <li class="menu-item ">
                <a href="/extended_ui/tour/" class="menu-link" >
                   <i class=""></i>
                   <div>Tour</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/extended_ui/treeview/" class="menu-link" >
                   <i class=""></i>
                   <div>Treeview</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/extended_ui/misc/" class="menu-link" >
                   <i class=""></i>
                   <div>Miscellaneous</div>
                </a>
             </li>
          </ul>
       </li>
       <li class="menu-item ">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
             <i class="menu-icon tf-icons ti ti-brand-tabler"></i>
             <div>Icons</div>
          </a>
          <ul class="menu-sub">
             <li class="menu-item ">
                <a href="/icons/tabler/" class="menu-link" >
                   <i class=""></i>
                   <div>Tabler</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/icons/font_awesome/" class="menu-link" >
                   <i class=""></i>
                   <div>Fontawesome</div>
                </a>
             </li>
          </ul>
       </li>
       <li class="menu-header small text-uppercase">
          <span class="menu-header-text">Forms &amp; Tables</span>
       </li>
       <li class="menu-item ">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
             <i class="menu-icon tf-icons ti ti-toggle-left"></i>
             <div>Form Elements</div>
          </a>
          <ul class="menu-sub">
             <li class="menu-item ">
                <a href="/forms/basic_inputs/" class="menu-link" >
                   <i class=""></i>
                   <div>Basic Inputs</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/forms/input_groups/" class="menu-link" >
                   <i class=""></i>
                   <div>Input groups</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/forms/custom_options/" class="menu-link" >
                   <i class=""></i>
                   <div>Custom Options</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/forms/editors/" class="menu-link" >
                   <i class=""></i>
                   <div>Editors</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/forms/file_upload/" class="menu-link" >
                   <i class=""></i>
                   <div>File Upload</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/forms/pickers/" class="menu-link" >
                   <i class=""></i>
                   <div>Pickers</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/forms/selects/" class="menu-link" >
                   <i class=""></i>
                   <div>Select &amp; Tags</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/forms/sliders/" class="menu-link" >
                   <i class=""></i>
                   <div>Sliders</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/forms/switches/" class="menu-link" >
                   <i class=""></i>
                   <div>Switches</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/forms/extras/" class="menu-link" >
                   <i class=""></i>
                   <div>Extras</div>
                </a>
             </li>
          </ul>
       </li>
       <li class="menu-item ">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
             <i class="menu-icon tf-icons ti ti-layout-navbar"></i>
             <div>Form Layouts</div>
          </a>
          <ul class="menu-sub">
             <li class="menu-item ">
                <a href="/form/layouts_vertical/" class="menu-link" >
                   <i class=""></i>
                   <div>Vertical Form</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/form/layouts_horizontal/" class="menu-link" >
                   <i class=""></i>
                   <div>Horizontal Form</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/form/layouts_sticky/" class="menu-link" >
                   <i class=""></i>
                   <div>Sticky Actions</div>
                </a>
             </li>
          </ul>
       </li>
       <li class="menu-item ">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
             <i class="menu-icon tf-icons ti ti-text-wrap-disabled"></i>
             <div>Form Wizard</div>
          </a>
          <ul class="menu-sub">
             <li class="menu-item ">
                <a href="/form/wizard_numbered/" class="menu-link" >
                   <i class=""></i>
                   <div>Numbered</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/form/wizard_icons/" class="menu-link" >
                   <i class=""></i>
                   <div>Icons</div>
                </a>
             </li>
          </ul>
       </li>
       <li class="menu-item ">
          <a href="/form/validation/" class="menu-link" >
             <i class="menu-icon tf-icons ti ti-checkbox"></i>
             <div>Form Validation</div>
          </a>
       </li>
       <li class="menu-item ">
          <a href="/tables/basic/" class="menu-link" >
             <i class="menu-icon tf-icons ti ti-table"></i>
             <div>Tables</div>
          </a>
       </li>
       <li class="menu-item ">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
             <i class="menu-icon tf-icons ti ti-layout-grid"></i>
             <div>Datatables</div>
          </a>
          <ul class="menu-sub">
             <li class="menu-item ">
                <a href="/tables/datatables_basic/" class="menu-link" >
                   <i class=""></i>
                   <div>Basic</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/tables/datatables_advanced/" class="menu-link" >
                   <i class=""></i>
                   <div>Advanced</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/tables/datatables_extensions/" class="menu-link" >
                   <i class=""></i>
                   <div>Extensions</div>
                </a>
             </li>
          </ul>
       </li>
       <li class="menu-header small text-uppercase">
          <span class="menu-header-text">Charts &amp; Maps</span>
       </li>
       <li class="menu-item ">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
             <i class="menu-icon tf-icons ti ti-chart-pie"></i>
             <div>Charts</div>
          </a>
          <ul class="menu-sub">
             <li class="menu-item ">
                <a href="/charts/apex/" class="menu-link" >
                   <i class=""></i>
                   <div>Apex Charts</div>
                </a>
             </li>
             <li class="menu-item ">
                <a href="/charts/chartjs/" class="menu-link" >
                   <i class=""></i>
                   <div>ChartJS</div>
                </a>
             </li>
          </ul>
       </li>
       <li class="menu-item ">
          <a href="/maps/leaflet/" class="menu-link" >
             <i class="menu-icon tf-icons ti ti-map"></i>
             <div>Leaflet Maps</div>
          </a>
       </li>
       <li class="menu-header small text-uppercase">
          <span class="menu-header-text">Misc</span>
       </li>
       <li class="menu-item ">
          <a href="https://pixinvent.ticksy.com/" class="menu-link" target="_blank" >
             <i class="menu-icon tf-icons ti ti-lifebuoy"></i>
             <div>Support</div>
          </a>
       </li>
       <li class="menu-item ">
          <a href="https://demos.pixinvent.com/vuexy-html-admin-template/documentation/django-introduction.html" class="menu-link" target="_blank" >
             <i class="menu-icon tf-icons ti ti-file-description"></i>
             <div>Documentation</div>
          </a>
       </li>
    </ul>
 </aside>