{% for ad in ads_data %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ ad.ad_id }}</td>
    <td>{{ ad.ad_name }}</td>
    <td>{{ ad.status }}</td>
    <td>{{ ad.amount_spent }}</td>
    <td>{{ ad.post_link }}</td>
    <td>{{ ad.video_link }}</td>
    <td>
        <div class="d-flex align-items-center">
            <a href="{% url 'portal:campaigns_ad_insights' ad.ad_id  %}" class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill" data-bs-toggle="tooltip" aria-label="Preview" data-bs-original-title="Preview">
                <i class="ti ti-eye ti-md"></i>
            </a>
        </div>
    </td>
</tr>
{% endfor %}